<h3>@ConnectionName</h3>
<button class="btn btn-primary" @onclick="Connect">Connect</button>

@code {
    [Parameter]
    public string ConnectionName { get; set; } = "N/A";

    public async Task Connect()
    {
        
    }
}