@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Welcome to 1b1 project demo!</h1>

<div class="environment-selector">
    <label for="env-select">Environment:</label>
    <select id="env-select" @bind="SelectedEnvironment" >
        <option value="Sandbox">Sandbox</option>
        <option value="Production">Production</option>
    </select>
    
    <p role="status">Current Env: @SelectedEnvironment</p>

    
    <button class="btn btn-primary" @onclick="LogEnvironment">Click me</button>

</div>

@code {
    [Parameter]
    public string SelectedEnvironment { get; set; } = "Sandbox";

    private void LogEnvironment()
    {
        var a = SelectedEnvironment;
    }
}